@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.primary-color{
    color: #4E47FF;
}
.secondary-color{
    color: #252432;
}
.btn-primary{
    font-family: "Raleway";
    font-weight: 700;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #4E47FF;
    cursor: pointer;
    font-size: 16px;
}
.heading{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
body{
    background-color:  #f5f8ff;;
}
/* navbar styles */
header{
    background-image: url(../images/hero-bg.png);
    height: 650px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.nav-logo{
    font-family: 'inter';
    font-weight: 900;
    font-size: 34px;
}
/* banner styles */
.banner{
    margin: 200px 0 152px;
    text-align: center;
}
.banner .heading-title{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 37px;
}
/* action styles */
.action{
    margin: 116px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-description{
    font-family: 'Raleway';
    font-size: 24px;
    margin: 20px 0;
}
.action-parent .action-img{
    border-radius: 48px;
}
/* productive styles */
.productive{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 142px;
}
.productive h2{
    font-size: 38px;
    text-align: center;
}
.productive-parent{
    display: flex;
    justify-content: space-between;
}
.productive-child .productive-title{
    font-family: 'inter';
    font-weight: bold;
    font-size: 80px;
    margin-top: 40px;
}
.productive-child .productive-description{
    font-family: 'inter';
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/* feedback styles */
.feedback{
    margin: 116px 0;
}
.feedback .heading{
    text-align: center;
}
.feedback-parent{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}
.feedback-child{
    padding: 24px;
    border: 1px solid #f2eded;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
}
.feedback-child .feedback-title{
    font-family: 'inter';
    font-size: 22px;
    font-weight: 600;
    padding: 16px 0 8px 0;
}
.feedback-child .feedback-description{
    font-family: 'inter';
}
.feedback-sub-child{
    padding-top: 24px;
    display: flex;

}
.feedback-sub-child img{
    border-radius: 9999px;
}
.feedback-sub-child-title{
    padding-left: 12px;
}
.feedback-sub-child .feedback-name{
    font-family: 'inter';
    font-weight: 600;
    font-size: 16px;
    color: #757575;
}
.feedback-sub-child .feedback-date{
    font-family: 'inter';
    color: #b3b3b3;
}
/* focus-better styles */
.focus{
    text-align: center;
    padding: 71px 150px;
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 116px;
}
.focus img{
    display: block;
    border-radius: 48px;
    margin-top: 20px;
}
.focus h2{
    font-size: 50px;
}
.focus .focus-description{
    font-family: 'inter';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin: 15px 0;
}
/* touch styles */
.touch{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 70px;
}
.touch h2{
    font-size: 97px;
}
.touch-child form label{
    font-family: 'inter';
    font-weight: 500;
    font-size: 18px;
    /* padding: 19px 0 10px; */
}
.touch-child form input[type="email"], input[type="text"], textarea {
    width: 497px;
    height: 70px;
    padding: 20px 32px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'inter';
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px 0 19px;
}
.touch-child form textarea{
    height: 137px;
    resize: none;
}
.touch-child form input[type="button"]{
    padding: 19px 201px;
}
/* footer */
footer{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.footer-content{
    text-align: center;
    padding: 103px 0;
}
.footer-content .footer-title{
    font-family: 'inter';
    font-weight: 900;
    font-size: 100px;
}
.footer-content .footer-description{
    font-family: 'inter';
    font-size: 16px;
    color: #8987a1;
    margin-bottom: 20px;
}
.footer-icon ul {
    display: flex;
    justify-content: center;
}
.footer-icon ul li{
    list-style: none;
    margin-right: 48px;
}
.footer-icon ul li a{
    text-decoration: none;
    font-family: 'inter';
    font-size: 16px;
    color: #8987a1;
}